body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    text-align: center;
    background-color: #ffcc00;
    padding: 20px;
}

main {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.produto {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
}

#carrinho {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
}
